@tailwind preflight;
@tailwind utilities;
/* Your custom CSS here */

.nav-link-items > a {
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
}

ul {
  padding: 0;
}

.sidebar {
  /* background-image: linear-gradient(180deg, #29323c 0%, #485563 100%); */
  @apply bg-purple-darkest;
}

/* Gradiant Bg */
.bg-seashore {
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

.bg-sugar-lollipop {
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
}

.bg-arielles-smile {
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
}

.bg-premium-dark {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.date-picker input[type='text'] {
  @apply py-1 px-2 border rounded bg-grey-lighter w-full;
}

.date-picker {
  width: 35%;
}

.filter-nav {
  @apply list-reset flex justify-start;
}

.filter-nav-item {
  @apply mr-6;
  position: relative;
}

.filter-nav-item--link {
  @apply text-grey no-underline;
}

.filter-nav-item--link:hover {
  @apply text-grey-dark cursor-pointer;
}

.filter-nav-item.active a.filter-nav-item--link {
  @apply text-purple-darkest border-b-2 border-purple-darkest pb-1;
}

.filter-nav-item > .flatpickr > .flatpickr-calendar {
  top: 22px !important;
  left: -14px !important;
}

.table {
  @apply w-full;
}

.table th {
  @apply border-b-2 border-grey-light px-3 py-4 text-xs text-center;
}

.table td {
  @apply border-b border-grey-light px-3 py-4 text-xs text-center;
}

.table tbody tr:hover {
  @apply bg-grey-lighter;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  width: 100%;
}

.ui-sortable .panel-heading {
  cursor: move;
}

.panel-inverse > .panel-heading {
  background: #242a30;
}
.panel-danger > .panel-heading,
.panel-info > .panel-heading,
.panel-inverse > .panel-heading,
.panel-primary > .panel-heading,
.panel-success > .panel-heading,
.panel-warning > .panel-heading {
  color: #fff;
}
.panel-heading {
  padding: 10px 15px;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ui-sortable-handle {
  -ms-touch-action: none;
  touch-action: none;
}

.panel-title {
  font-size: 12px;
}
.panel-title,
.panel-title .pull-right {
  line-height: 20px;
}
.panel-title {
  margin-top: 0;
}
.panel-title,
.panel > .list-group,
.panel > .panel-collapse > .list-group,
.panel > .tab-content,
.panel > .table {
  margin-bottom: 0;
}
.panel-title,
.panel-title > .small,
.panel-title > .small > a,
.panel-title > a,
.panel-title > small,
.panel-title > small > a {
  color: inherit;
}
.panel-body {
  padding: 15px;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.m-b-0 {
  margin-bottom: 0 !important;
}

.table {
  border-color: #e2e7eb;
  border-radius: 3px;
}
.table,
.table.table-inverse {
  background: 0 0;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
table {
  border-collapse: collapse;
}
.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-color: #e2e7eb;
  padding: 10px 15px;
}
.table thead th,
.table > thead > tr > th {
  color: #242a30;
  font-weight: 600;
  border-bottom: 1px solid #b6c2c9 !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-color: #e2e7eb;
  padding: 10px 15px;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
