.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

.timelog-list--item input[type="text"] {
  padding: 0.5rem;
}

.timelog-list--item .react-datepicker__input-container input[type="text"] {
  width: 5.5rem;
}